name: Terraform Apply
on: workflow_dispatch
permissions:
  contents: read
  id-token: write
jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::630413101908:role/github-actions-oidc-role
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7
      - name: Terraform Init
        working-directory: infrastructure
        run: terraform init
      - name: Terraform Plan
        working-directory: infrastructure
        run: terraform plan
      - name: Terraform Apply
        working-directory: infrastructure
        run: terraform apply -auto-approve
      - name: Get EC2 public IP
        id: get_ip
        run: |
          terraform -chdir=infrastructure output -raw instance_public_ip 2>/dev/null | tr -d '\n' > ec2_ip.txt
      - name: Debug IP
        run: |
          echo "EC2 IP is: $(cat ec2_ip.txt)"
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ec2-ip
          path: ec2_ip.txt
