name: Terraform Apply
on: workflow_dispatch
permissions:
  contents: read
  id-token: write
jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    outputs:
      instance_ip: ${{ steps.get_ip.outputs.instance_ip }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::630413101908:role/github-actions-oidc-role
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7
      - name: Terraform Init
        working-directory: infrastructure
        run: terraform init
      - name: Terraform Plan
        working-directory: infrastructure
        run: terraform plan
      - name: Terraform Apply
        working-directory: infrastructure
        run: terraform apply -auto-approve
      - name: Get EC2 public IP
        id: get_ip
        run: |
          echo "instance_ip=$(terraform -chdir=infrastructure output -raw instance_public_ip | tr -d '\n')" >> $GITHUB_OUTPUT
